<div class="home-content">
  <div class="home-left">
    <p class="home-keyword">CONNECTION</p>
    <p class="home-keyword">HUMAN</p>
    <p class="home-keyword">TANGIBILITY</p>
    <p class="home-keyword">COMMUNITY</p>
    <p class="home-keyword">PROFESSIONALISM</p>
    <p class="home-keyword">TRUST</p>
  </div>
  <div class="home-right">
    <p>Technology Transfer Platform is a digital network looking to connect researchers with the people and organizations who can support bringing their work to market.</p>
    <p>TTP is unique amongst its competitors in its offering of connection, and transparency.</p>
    <p>The brand message must build trust, convey tangibility, and illustrate the need that TTP will fulfill. It should remain approachable, professional, and communicate that we understand the needs and concerns of academia.</p>
  </div>
</div>
